{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}


<body>

  {% for url in urls %}


    <div class="card text-center">
        <div class="card-header">
          <ul class="nav nav-pills card-header-pills">
            <li class="nav-item">
              <button class ="btn btn-danger">Fake News</button>
            </li>
          </ul>
        </div>

        <div class="card-body">
            <p class="card-text"> URL : {{url.url}}</p>
          </div>
  
        </div>

        {% endfor %}




    </body>

{% endblock %}
